.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
ebin/*.beam
rel/example_project
.concrete/DEV_MODE
.rebar
.vagrant
*.log
.classpath
*.classpath
.settings/*

*.jar
.gradle
/gradle
/build/
*.bin
*.lock

__pycache__/

build/
bin/
*.class

.vagrant/
*.log
worker_token